# Library

In [1]:
import numpy as np
import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2

import sys
sys.path.append(f'E:\gitlab\custom-script\script')
from ursar import describe, big_data

%reload_ext autoreload

# pandas on spark

In [3]:
ps = big_data.pandas_on_spark()

checking environment spark at local ...
E:\programs\python\Lib\site-packages\pyspark
E:\programs\python\Lib\site-packages\pyspark\./bin/spark-submit.cmd

# create a Dataframe with Pandas-on-Spark and convert it to Pandas

In [4]:
# Create a DataFrame with Pandas-on-Spark
ps_df = ps.DataFrame(range(10))

In [5]:
# Convert a Pandas-on-Spark Dataframe into a Pandas Dataframe
pd_df = ps_df.to_pandas()

In [6]:
# Convert a Pandas Dataframe into a Pandas-on-Spark Dataframe
ps_df = ps.from_pandas(pd_df)

In [7]:
ps_df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [8]:
pd_df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9