# Library

In [1]:
import numpy as np
import pandas as pd

In [3]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append(f'E:\gitlab\custom-script\script')
from ursar import statistic
%reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Load data

In [15]:
df = pd.read_csv(f"E:/gitlab/machine-learning/dataset/Modal_Antar.csv")

In [16]:
df

,usia,pengambilan_kredit,pengalaman_kerja,jabatan_id,pendapatan,jumlah_tanggungan,pendidikan,kepemilikan,pinjaman,tenor_bulanan,kat_status
0,44,1,7,7,10046300,4,4,5,1000000,1.0,1
1,44,1,7,7,10290000,3,6,1,1000000,1.0,1
2,28,1,5,7,5327891,2,4,2,1000000,1.0,1
3,40,1,7,9,7150000,3,4,1,1000000,1.0,1
4,41,1,3,7,5150000,3,5,1,1000000,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
128,50,1,3,9,5500000,2,4,1,1000000,1.0,1
129,56,1,7,9,2250000,4,2,1,1000000,1.0,1
130,26,2,5,7,4678138,2,4,1,3000000,6.0,1
131,30,1,3,9,5200000,2,4,1,1000000,1.0,1
132,42,1,7,7,3600000,4,4,1,1000000,1.0,1

In [14]:
 # Load dataset
df_time = pd.read_csv(f'E:\gitlab\machine-learning\dataset\RestaurantVisitors.csv',index_col='date',parse_dates=True)
df_time.index.freq = 'D'

In [17]:
 df_time = df_time.dropna()

In [18]:
df_time

,weekday,holiday,holiday_name,rest1,rest2,rest3,rest4,total
date,,,,,,,,
2016-01-01,Friday,1,New Year's Day,65.0,25.0,67.0,139.0,296.0
2016-01-02,Saturday,0,na,24.0,39.0,43.0,85.0,191.0
2016-01-03,Sunday,0,na,24.0,31.0,66.0,81.0,202.0
2016-01-04,Monday,0,na,23.0,18.0,32.0,32.0,105.0
2016-01-05,Tuesday,0,na,2.0,15.0,38.0,43.0,98.0
...,...,...,...,...,...,...,...,...
2017-04-18,Tuesday,0,na,30.0,30.0,13.0,18.0,91.0
2017-04-19,Wednesday,0,na,20.0,11.0,30.0,18.0,79.0
2017-04-20,Thursday,0,na,22.0,3.0,19.0,46.0,90.0
2017-04-21,Friday,0,na,38.0,53.0,36.0,38.0,165.0
2017-04-22,Saturday,0,na,97.0,20.0,50.0,59.0,226.0

# Statistic test

In [8]:
statistic.stat_test(df['usia'],types="normality")

shapiro test

stat=0.974, p=0.011
Strong evidence against the null hypothesis
Reject the null hypothesis
H1: the sample does not have a Gaussian distribution


D'Agostino's K^2 Normality Test

stat=5.970, p=0.051
Weak evidence against the null hypothesis
Fail to reject the null hypothesis
H0: the sample has a Gaussian distribution


Anderson-Darling Test

stat=0.971
Probably not Gaussian at the 15.0% level
Probably not Gaussian at the 10.0% level
Probably not Gaussian at the 5.0% level
Probably not Gaussian at the 2.5% level
Probably Gaussian at the 1.0% level

,name,stat_value,p_value,result
0,shapiro test,0.973563,0.010727,H1: the sample does not have a Gaussian distri...
1,D'Agostino's K^2 Normality Test,5.969807,0.050544,H0: the sample has a Gaussian distribution
2,Anderson-Darling Test,0.971481,0.010000,Probably Gaussian at the 1.0% level

In [12]:
statistic.stat_test(df['usia'],df['kat_status'],types="correlation")

Correlation Tests

Pearsonr Correlation test

stat=0.032, p=0.713
Weak evidence against the null hypothesis
Fail to reject the null hypothesis
H0: the two samples are independent


Spearman's Rank Correlation Test

stat=0.029, p=0.737
Weak evidence against the null hypothesis
Fail to reject the null hypothesis
H0: the two samples are independent


Kendall's Rank Correlation Test

stat=0.029, p=0.737
Weak evidence against the null hypothesis
Fail to reject the null hypothesis
H0: the two samples are independent


Chi-Squared Test

stat=14.694, p=1.000
Weak evidence against the null hypothesis
Fail to reject the null hypothesis
H0: the two samples are independent

,name,stat_value,p_value,result
0,Pearsonr Correlation test,0.032227,0.712688,H0: the two samples are independent
1,Spearman's Rank Correlation Test,0.029418,0.736765,H0: the two samples are independent
2,Kendall's Rank Correlation Test,0.029418,0.736765,H0: the two samples are independent
3,Chi-Squared Test,14.694383,1.000000,H0: the two samples are independent

In [20]:
statistic.stat_test(df_time['total'],types="stationary")

Stationary Tests

Augmented Dickey-Fuller Unit Root test

stat=-5.592, p=0.000
Strong evidence against the null hypothesis
Reject the null hypothesis
H1: a unit root is not present (series is stationary)


Kwiatkowski-Phillips-Schmidt-Shin Test

stat=0.202, p=0.100
Weak evidence against the null hypothesis
Fail to reject the null hypothesis
H0: the time series is not trend-stationary

,name,stat_value,p_value,result
0,Augmented Dickey-Fuller Unit Root test,-5.592497,0.000001,H1: a unit root is not present (series is stat...
1,Kwiatkowski-Phillips-Schmidt-Shin Test,0.202363,0.100000,H0: the time series is not trend-stationary

In [26]:
statistic.stat_test(df['usia'],df['pendapatan'],types="p_hypothesis")

Parametric Statistical Hypothesis Tests

Student's t-test

stat=-16.404, p=0.000
Strong evidence against the null hypothesis
Reject the null hypothesis
H1: the means of the samples are unequal


Paired Student's t-test

stat=-16.404, p=0.000
Strong evidence against the null hypothesis
Reject the null hypothesis
H1: the means of the samples are unequal


Analysis of Variance Test (ANOVA)

stat=269.090, p=0.000
Strong evidence against the null hypothesis
Reject the null hypothesis
H1: the means of the samples are unequal

,name,stat_value,p_value,result
0,Student's t-test,-16.403967,3.561431e-42,H1: the means of the samples are unequal
1,Paired Student's t-test,-16.403969,1.174441e-33,H1: the means of the samples are unequal
2,Analysis of Variance Test (ANOVA),269.090130,3.561431e-42,H1: the means of the samples are unequal

In [27]:
statistic.stat_test(df['usia'],df['pendapatan'],types="nonp_hypothesis")

Nonparametric Statistical Hypothesis Tests

Mann-Whitney U Test

stat=0.000, p=0.000
Strong evidence against the null hypothesis
Reject the null hypothesis
H1: the distributions of both samples are not equal


Wilcoxon Signed-Rank Test

stat=0.000, p=0.000
Strong evidence against the null hypothesis
Reject the null hypothesis
H1: the distributions of both samples are not equal


Kruskal-Wallis H Test

stat=198.876, p=0.000
Strong evidence against the null hypothesis
Reject the null hypothesis
H1: the distributions of one or more samples are not equal

,name,stat_value,p_value,result
0,Mann-Whitney U Test,0.000000,1.857960e-45,H1: the distributions of both samples are not ...
1,Wilcoxon Signed-Rank Test,0.000000,1.429496e-23,H1: the distributions of both samples are not ...
2,Kruskal-Wallis H Test,198.875806,3.674172e-45,H1: the distributions of one or more samples a...