# Library

In [1]:
import numpy as np
import pandas as pd

In [10]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.append(f'E:\gitlab\custom-script\script')
from ursar import statistic
%reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Load data

In [4]:
df = pd.read_csv(f"E:/gitlab/machine-learning/dataset/Modal_Antar.csv")

In [11]:
df

,usia,pengambilan_kredit,pengalaman_kerja,jabatan_id,pendapatan,jumlah_tanggungan,pendidikan,kepemilikan,pinjaman,tenor_bulanan,kat_status
0,44,1,7,7,10046300,4,4,5,1000000,1.0,1
1,44,1,7,7,10290000,3,6,1,1000000,1.0,1
2,28,1,5,7,5327891,2,4,2,1000000,1.0,1
3,40,1,7,9,7150000,3,4,1,1000000,1.0,1
4,41,1,3,7,5150000,3,5,1,1000000,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...
128,50,1,3,9,5500000,2,4,1,1000000,1.0,1
129,56,1,7,9,2250000,4,2,1,1000000,1.0,1
130,26,2,5,7,4678138,2,4,1,3000000,6.0,1
131,30,1,3,9,5200000,2,4,1,1000000,1.0,1
132,42,1,7,7,3600000,4,4,1,1000000,1.0,1

# Statistic test

In [31]:
statistic.stat_test(df['usia'],types="Normality")

shapiro test

stat=0.974, p=0.011
Strong evidence against the null hypothesis
Reject the null hypothesis
H1: the sample does not have a Gaussian distribution


D'Agostino's K^2 Normality Test

stat=5.970, p=0.051
Weak evidence against the null hypothesis
Fail to reject the null hypothesis
H0: the sample has a Gaussian distribution


Anderson-Darling Test

stat=0.971
Probably not Gaussian at the 15.0% level
Probably not Gaussian at the 10.0% level
Probably not Gaussian at the 5.0% level
Probably not Gaussian at the 2.5% level
Probably Gaussian at the 1.0% level

,name,stat_value,p_value,result
0,shapiro test,0.973563,0.010727,H1: the sample does not have a Gaussian distri...
1,D'Agostino's K^2 Normality Test,5.969807,0.050544,H0: the sample has a Gaussian distribution
2,Anderson-Darling Test,0.971481,1.000000,Probably Gaussian at the 1.0% level